.mentoring .choice-result::before {
    content: "";
    display: block;
    width: 36px;
}

.mentoring .checkmark-incorrect {
    color: #c1373f;
}

.mentoring .checkmark-correct::before {
    content: "\f00c";
}

.mentoring .checkmark-incorrect::before {
    content: "\f00d";
}

.mentoring .grade .checkmark-incorrect {
    margin-left: 0;
    margin-right: 10px;
    width: 29px;
}

div.course-wrapper section.course-content .mentoring p:empty {
    display: block;
    margin-bottom: 1.41575em;
}

.mentoring .questionnaire .choices-list {
    display: table;
    width: 100%;
    border-spacing: 0;
}

.mentoring .choice-label {
    display: table-cell;
    vertical-align: middle;
}

.mentoring .choice-label span.low {
    line-height: inherit;
}

.mentoring .choice-result,
.mentoring .choice-label,
.mentoring .choice-tips-container {
    vertical-align: top;
}

.mentoring .choice-tips-container .choice-tips {
    position: relative;
}

.mentoring .questionnaire .choice {
    display: table-row;
}

.mentoring .questionnaire .feedback {
    min-height: 100%;
    border-left: 2px solid #ddd;
}

.mentoring .questionnaire .choice-tips,
.mentoring .questionnaire .feedback {
    color: #3c3c3c;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    opacity: 1;
    padding: 0 20px;
}

.mentoring .questionnaire .choice-tips-container {
    display: table-cell;
}


.mentoring .questionnaire .choice-tips p,
.mentoring .questionnaire .feedback p {
    color: #3c3c3c;
}

.mentoring .questionnaire .choice-tips .close,
.mentoring .questionnaire .feedback .close {
    display: none;
}

.mentoring .choice .choice-tips-container.with-tips {
    border-left: 2px solid #ddd;
}

.mentoring .choice.correct .choice-tips-container.active {
    border-color: #629b2b;
}

.mentoring .choice.incorrect .choice-tips-container.active {
    border-color: #c1373f;
}

.mentoring .review-list {
    margin-top: 0;
}

.mentoring .grade .grade-result .results-section p {
    margin-bottom: 4px; /* Override LMS rule 'div.course-wrapper section.course-content p { margin-bottom: huge; }' */
}
